body {
  background-color: #7D5C43;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}


button {
  margin-top: 5px;
}

.puppy-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 6px solid rgba(205, 127, 50, 0.500);
  border-radius: 5px;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  max-width: 250px;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.470);
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.puppy-pic {
  border-radius: 10px;
}